body {
  font-family: verdana;
}

.thermostat {
  border: 1px solid #a6a6a6;
  background-color: #e6e6e6;
  border-radius: 10px;
  height: 300px;
  width: 400px;
}

.display {
  float: left;
  width: 60%;
  height: 200px;
  border-radius: 10px;
}

.thermostat-actions {
  float: left;
  width: 30%;
  padding: 20px;
  border-radius: 10px;
}

.temperature-display {
  height: 100px;
  font-size: 22px;
  text-align: center;
  margin: 20px 40px;
  background-color: #a6a6a6;
  color: white;
  border-radius: 10px;
}

.high-usage {
  background-color: red;
  width: 50%;
  height: 10%;
  margin: auto;
  text-align: center;
  font-size: 10px;
  border-radius: 5px;
}

.medium-usage {
  background-color: orange;
  width: 50%;
  height: 10%;
  margin: auto;
  text-align: center;
  font-size: 10px;
  border-radius: 5px;
}

.low-usage {
  background-color: green;
  width: 50%;
  height: 10%;
  margin: auto;
  text-align: center;
  font-size: 10px;
  border-radius: 5px;
}

button {
  margin: 10px 20px;
  background-color: #808080;
  color: white;
}


section {
  margin: auto;
  font-size: 10px;
  text-align: center;
  padding: 10px 20px;
}

#current-temp {
  text-align: center;
  font-size: 10px;
}

#city {
  margin: 10px;
}
